.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .App-platformList{
    display: flex;
  }
  
  .App-typeList{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  
  .App-listofPlaces{
    font-size: 15px;
  }

  .App-navlist{
    margin: 0 .5rem;
    padding: 0 .5rem;
  }

  .App-navlist:hover{
    cursor: pointer;
    content: "";
    left: 25%;
    right: 25%;
    bottom: 0;
    /* border: 1px solid black; */
  }

  .App-navmain{
    list-style-type: none;
    margin: 0;
    text-transform: uppercase;
    font-family: Avenir LT Std,Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    z-index: 15;
    padding: 1.5rem 3.377%;
    display: flex;
  }

  .lh-container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
  }

  .lh-card-layout{
      grid-template-columns: repeat(3, 1fr);
      display: grid;
      grid-auto-rows: auto;
      grid-gap: 3rem;
      margin: 40px;
      padding: 20px;
  }
  .lh-header{
    margin-top: 50px;
    text-align: center;
  }

  .lh-cat-header{
    font-weight: bold;
    padding: 10px;
    text-align: center;

  }

  .lh-val{
    padding: 10px;
  }

